<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('header/header') %>
    <div id="content">
      <div>
        <h2>Messages</h2>
        <a href="/new">Add a new message</a>
      </div>
      <ul id="messages">
        <% messages.map((message) => { %>
        <li>
          <p><%= message.text %></p>
          <p>Added: <%= message.added %></p>
          <p>By <%= message.user %></p>
          <a href="/messages/<%= message.id %>">Open</a>
        </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
